*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
}

.images{
    width: 24%;
    border: 2px solid grey;
    float: left ; 
    box-sizing: border-box;
    margin:5px; 
}

img {
    width: 100%;
}

.images:hover {
    border-color: black;
}